<%
  var ancor_id = phoxy.GenerateUniqueID();
%>

<div id='<%= ancor_id %>'></div>
<button type='button' id='phone_order_<%= id %>_<%= ancor_id %>' class='btn btn-default' style='width: 100px'>Телефон</button>

<button type='button' id='online_order_<%= id %>_<%= ancor_id %>' class='btn btn-default' style='width: 100px'>Онлайн</button>

<%

phoxy.Appeared('#phone_order_' + id + '_' + ancor_id, function()
{
  phoxy.Fancy('buy/phone', {id: id}, function(html)
  {  
    $('#phone_order_' + id + '_' + ancor_id)
      .popover(
      {
        html: true,
        title: "Покупка через телефон",
        content: html
      });
  });
});
%>