<%
  var ancor_id = phoxy.GenerateUniqueID();
%>

<div id='<%= ancor_id %>'></div>
<button type='button' id='online_order_<%= this.id %>_<%= ancor_id %>' class='btn btn-default' style='width: 200px'>Заказать online</button>
<center><b>или</b></center> 
<button type='button' id='phone_order_<%= this.id %>_<%= ancor_id %>' class='btn btn-default' style='width: 200px'>Оставить телефон</button>



<%
analytics.track("start", {category: "order", phone: this.id});
phoxy.Appeared('#phone_order_' + this.id + '_' + ancor_id, function()
{
  phoxy.Fancy('buy/phone', {id: __context.id}, function(html)
  {  
    $('#phone_order_' + __context.id + '_' + ancor_id)
      .click(function()
      {
        analytics.track("phone", {category: "order", phone: __context.id});
      })
      .popover(
      {
        html: true,
        title: "Заказ через звонок",
        content: html
      });
  });
});

phoxy.Appeared('#online_order_' + this.id + '_' + ancor_id, function()
{
  var that = this;
  $(this).click(function()
  {
    $(this).prop('disabled', true);
    $(that).parent().html(phoxy.DeferRender('buy/method', {id: __context.id}));
    analytics.track("online", {category: "order", phone: __context.id});
  });
});
%>