<div id="phone_<%= this.id %>">

<%
function rrAsyncInit(){  try{ rrApi.view(__context.id); } catch(e) {} }
var binded = this.params.binded;
var grouped = this.params.grouped;
var showname = binded.name.v + ' ' + binded['Цвет'].v;
$('title').first().html(showname);
$('#keywords').attr('content', showname + ', Scladless');
$('#description').attr('content', showname + ' Scladless');
%>
<h2><%= showname %></h2>
<div class="row" data-mark='img'>
  <div class="col-md-6" style='text-align: center;'>
<%
if (typeof(binded.picture) == 'undefined')
  var img = "/res/img/phones/" + this.id + ".jpg"; //"http://placehold.it/300x400";
else
  var img = binded.picture.v;
%>
    <img src="<%= img %>" style="max-width: 300px; max-height: 400px;" />
    <br>
    <div class='catalog' style='display: inline-block;'>  
      <div class='badge'><%= this.price %></div>
    </div>
    <%= phoxy.DeferRender('buy/button', {id: this.id, stayhere: true, available: this.available}) %>
  </div>
  <div class="col-md-6">
    <%= this.DeferRender('catalog/item_properties.ejs', this) %>
  </div>
</div>
<div class="row" style='margin-top: 10px'>
  <div class='col-md-12'>
  </div>
</div>

</div>

<%
this.DeferCascade(function()
{
  var props = this.first().find("table[data-mark='prop']").find('tr');
  if (props.size() < 10)
    this.first().find("div[data-mark='img']").append(phoxy.DeferRender('catalog/not_filled_sorry', {}));
});
%>