<div id="phone_<%= this.id %>">

<%
var binded = this.params.binded;
var grouped = this.params.grouped;
$('title').first().html(binded.name.v);
%>
<h2><%= binded.name.v %> <%= binded['Цвет'].v %></h2>
<div class="row">
  <div class="col-md-6" style='text-align: center;'>
<%
if (typeof(binded.picture) == 'undefined')
  img = "res/img/phones/" + this.id + ".jpg"; //"http://placehold.it/300x400";
else
  img = binded.picture.v;
%>
    <img src="<%= img %>" style="max-width: 300px; max-height: 400px;" />
    <br>
    <div class='catalog' style='display: inline-block;'>  
      <div class='badge'><%= this.price %></div>
    </div>
    <%= phoxy.DeferRender('buy/button', {id: this.id, stayhere: true, available: this.available}) %>
  </div>
  <div class="col-md-6">
    <table class="table table-hover table-condensed"><tbody>
<%
console.log(this);
for (g in grouped)
{
  var group = grouped[g];
  var group_title = window['phone_info'].groups[g].title;
%>
    <tr style='background-color: #999;'>
      <td colspan="2" data-value="<%= group_title %>" data-mark='phone-group-inditifier'></td>
    </tr>
<%
  for (k in group)
  {
    var v = group[k];
    var type = binded[k].type;
%>
      <tr>
        <td><%= k %></td>
        <td>
<%
    if (type == 'bool')
    {
%>
          <%= v == 't' ? 'Есть' : 'Нет' %>
<%
    }
    else
    {
%>
          <%= v %>
<%
    }
%>
        </td>
      </tr>
<%
  }
}
%>
    </tbody></table>
  </div>
</div>
<div class="row" style='margin-top: 10px'>
  <div class='col-md-12'>
  </div>
</div>

<%
this.Defer(function()
{
  var val = $('#phone_' + this.id).attr('data-value');
  $('#phone_' + this.id)
    .find('table')
    .find("td[data-mark='phone-group-inditifier']")
    .each(function()
    {
      $(this).html($(this).attr('data-value'));
    });
  
});
%>

</div>
