<div data-mark='catalog' class='catalog'>
  <div style='width: 100%;'>
    <b><%= catalog %></b>
    <div style='float: right;'>
      <input type="checkbox" class="switch-mini" id='galery-mode'>
      Режим галереи
    </div>
  </div>
  <div class='row'>
<%
var accum = 0;
var in_line = 3;
for (var i = 0; i < vendor.length; i++)
{
  var p = vendor[i];
%>
    <div class='col-md-<%= 12 / in_line %>'>
      <div class='row item-cell' style='height: 200px;'>
        <div class='col-md-12 item-picture' style='overflow: hidden;'>
          <img src='<%= p.picture %>' style='max-height: 100%; min-height: 60%;' />
        </div>
        <div class='col-md-7 item-popover-info'>
          <a class='hipster' href='#catalog/<%= catalog %>/<%= p.id %>/<%= p.name %>'><%= p.name %></a><br>
          <div class="badge"><%= p.price %></div>
          <br><br>
          <button role='buy' class='btn btn-danger' value='<%= p.id %>'>Купить</button>
        </div>
      </div>
    </div>

<%
  accum++;
  if (accum == in_line)
  {
%>
  </div><hr>
  <div class='row'>
<%
    accum = 0;
  }
}
%>
  </div>
</div>
<div id='vendor_temp_id_for_stone'>
<%= phoxy.Defer(function()
{
  var content = $('#vendor_temp_id_for_stone');
  $("#content")
    .find(".catalog")
    .find(".item-cell")
    .find(".item-popover-info")
    .find("[role='buy']")
    .each(function()
    {
      var that = this;
      function RenderedCallback()
      {
        var content = $(that).find("[role='popover_temp']");

        $(that)
          .popover(
          {
            html: true,
            title: "Способ покупки",
            content: content.html()
          });

        content.remove();
      }
      
      $(this)
        .append(
          $("<div role='popover_temp' \>")
            .addClass('hidden')
            .html(phoxy.DeferRender('buy/stone', {id: $(this).attr('value')}, RenderedCallback))
        );
    });

  content.remove();
})
%>
</div>
<%
phoxy.Defer(function()
{
  var cells = $('#content .catalog .item-cell');
  var elements = cells.find('.item-popover-info');
  
  elements.hide();
  
  function EnableGalery()
  {
    cells
      .hover(function()
      {
        $(this).find('.item-popover-info').animate({height: 'toggle'});
      });    
    elements.slideUp();
  }
  function DisableGalery()
  {
    cells.off('mouseenter mouseleave');
    elements.slideDown();
  }

  $('#galery-mode')
    .bootstrapSwitch()
    .change(function()
    {
      if (this.checked)
        EnableGalery();
      else
        DisableGalery();
    })
    .trigger('change');

});
%>