<% $('title').first().html('ScladLess Каталог ' + this.catalog) %>
<div data-mark='catalog' class='catalog'>
  <div style='width: 100%;'>
    <b><%= this.catalog %></b>
    <div style='float: right;'>
      <input type="checkbox" class="switch-mini" id='galery-mode'>
      Режим галереи
    </div>
  </div>
  <div class='row'>
<%
var accum = 0;
var in_line = 3;
for (var i = 0; i < this.vendor.length; i++)
{
  var p = this.vendor[i];
%>
    <div class='col-md-<%= 12 / in_line %>'>
      <div class='row item-cell' style='height: 200px;'>
        <div class='col-md-12 item-picture' style='overflow: hidden; height: inherit; width: 100%;'>
          <a href='#!catalog/<%= this.catalog %>/<%= p.id %>/<%= p.name %>'>
            <img src='<%= p.picture %>' style='height: 100%; max-width: inherit;' />
          </a>
        </div>
        <div class='col-md-7 item-popover-info'>
          <a class='hipster' 
             style='font-family: Gill sans-serif;'
             href='#!catalog/<%= this.catalog %>/<%= p.id %>/<%= p.name %>'><%= p.name %></a><br>
          <div class="badge"><%= p.price %></div>
          <br><br>
          <button role='buy' class='btn btn-danger' value='<%= p.id %>'><%= p.available == 't' ? 'Купить' : 'Заказать' %></button>
        </div>
      </div>
    </div>

<%
  accum++;
  if (accum == in_line)
  {
%>
  </div><hr>
  <div class='row'>
<%
    accum = 0;
  }
}
%>
  </div>
</div>
<div id='vendor_temp_id_for_stone'>
<%
this.Defer(function()
{
  var content = $('#vendor_temp_id_for_stone');
  var delay = 0;
  $("#content")
    .find(".catalog")
    .find(".item-cell")
    .find(".item-popover-info")
    .find("[role='buy']")
    .each(function()
    {
      var that = this;    
      this.Defer(function()
      {
        function Bind(that)
        {
          $(that).unbind();
          $(that)
            .click(function()
            {
              window.gevents.prebuy._trackEvent('open_stone_from_catalog', $(that).attr('value'));
              $(that)
                .unbind()
                .click(function()
                {
                  $(that)
                    .next()
                    .popover('destroy')
                    .remove();
                  Bind(that);
                });

              phoxy.Fancy('buy/stone', {id: $(this).attr('value')}, function(html)
              {
                $(that)
                  .after(
                    $('<div />')
                    .popover(
                    {
                      html: true,
                      title: "Способ покупки",
                      content: html
                    })
                  );
                $(that).next().popover('show');
              });
            });
        }
        Bind(that);
      }, delay += 100);
    });

  content.remove();
})

%>
</div>
<%
this.Defer(function()
{
  var cells = $('#content .catalog .item-cell');
  var elements = cells.find('.item-popover-info');
  
  elements.hide();
  
  function EnableGalery()
  {
    cells
      .hover(function()
      {
        $(this).find('.item-popover-info').animate({height: 'toggle'});
      });    
    elements.slideUp();
  }
  function DisableGalery()
  {
    cells.off('mouseenter mouseleave');
    elements.slideDown();
  }

  $('#galery-mode')
    .bootstrapSwitch()
    .change(function()
    {
      if (this.checked)
        EnableGalery();
      else
        DisableGalery();
    })
    .trigger('change');

});
%>
