<title>ScladLess Интернет магазин</title>
<meta name="description" content="Интернет магизин мобильной техники ScladLess">
<meta name="keywords" content="Интернет-магазин, мобильные телефоны, смартфоны, планшетные компьютеры, аксессуары, ScladLess, 812, спб, складлесс, чехлы, интернет магазин, apple, htc, lg, nokia">


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" language='javascript'></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<div class='page_content_wrapper'>
  <a href='#content' class="sr-only">Skip to main content</a>
  <div id='header'><%= DeferRender('main/header', {}) %></div>
  <div id='menu'><%= DeferRender('menu/main', {}) %></div>
  <%= this.DeferRender('catalog/better_menu', {}) %>
  <div class='container' id='content'>
  </div>
  <%= this.DeferRender('main/Optout') %>
  <div class='push_footer'></div>
</div>

<div id="footer" class='footer'>
  <%= DeferRender('main/footer', {}) %>
  <div class="container">
    <p class="muted credit pull-right">
      <span class="glyphicon glyphicon-copyright-mark"></span> 
      <span>ScladLess Beta 2014</span>
    </p>
  </div>
</div>

<link href="css/sticky_footer.css" rel="stylesheet" media="screen">
<link href="css/main.css" rel="stylesheet" media="screen">

<%
this.Defer(function()
{
  console.log("Test", this);
  function Bruce( text )
  {
    return $('<li />').html(text);
  }
  
  var el = $('<div />')
    .html('Этот сайт создан с использованием следующих инструментов:')
    .append
    (
      $('<ul />')
        .append
        (
          Bruce('<a href="http://requirejs.org">RequireJS</a>'),
          Bruce('<a href="http://embeddedjs.com">EJS</a>'),
          Bruce('<a href="http://jquery.com">JQuery</a>'),
          Bruce('<a href="http://github.com/Enelar/phoxy">Phoxy</a>'),
          Bruce('<a href="http://getbootstrap.com">Bootstrap</a>'),
          Bruce('Glyphicons [<a href="http://glyphicons.com">1</a>], [<a href="http://marcoceppi.github.io/bootstrap-glyphicons/">2</a>]'),
          Bruce('<a href="http://github.com">GitHub</a>'),
          Bruce('<a href="http://stackoverflow.com/">StackOverflow</a> and other.')
        )
    );
  
  $("p span.glyphicon-copyright-mark").css({cursor: 'pointer'})
    .popover({html: true, placement: "top", content: GetElementCode(el)})
    .next().on('click', function()
    {
      window.location.replace("//exsul.net");
    });
    
}
);
%>

<link href="css/bootstrap-switch.min.css" rel="stylesheet" media="screen">
<script language='javascript' src='js/bootstrap-switch.min.js'>
