<table class="table table-striped hidegoogle">
  <thead>
    <tr>
      <td>Тип</td>
      <td>Стоимость</td>
      <td>Скорость</td>
    </tr>
  </thead>
  <tbody>
<%
for (k in this.prices)
{
  v = this.prices[k];  
%>
    <tr>
      <td><%= v.title %></td>
      <td><%= v.price %></td>
      <td><%= v.timing %></td>
    </tr>
<%
}
%>
  </tbody>
</table>

<ul class='showgoogle'>
<%
for (k in this.prices)
{
  v = this.prices[k];  
  if (v.price == 0)
    v.price = "бесплатно";
  else
    v.price += " рублей";
%>
  <li>Доставка <%= v.title %> <%= v.timing %> - <%= v.price %></li>
<%
}
%>
</ul>